.search__field {
    margin: 20px;
    text-align: center;
}

.input {
    height: 50px;
    width: 500px;
    margin-right: 20px;
}
.input::placeholder {
    text-transform: uppercase;
}

.search__button {
    height: 50px;
    width: 100px;
    border: none;
    outline: 1px solid transparent;
    border-radius: 6px;
}

.search__button > span {
    text-transform: uppercase;
}
